# Additional ssh options for Ansible
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
timeout = 10
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r

[defaults]
# Set the log_path
#log_path = /tmp/ansible.log

# Additional default options for Ansible
forks = 20

roles_path = roles/

